@model ServiceQuality.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" id="create-form">
    <div class="form-horizontal">
        <h4>Service</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">WSDL URL</label>
            <div class="col-md-10">
                <input id="wsdl_url" class="form-control" />
                <button class="btn btn-default" type="button" id="service_update">Update List</button>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label">Web Service URL</label>
            <div class="col-md-10">
                <select asp-for="Url" class="form-control">
                </select>
                <span asp-validation-for="Url" class="text-danger" />
            </div>
            
        </div>
        <div class="form-group">
            <label asp-for="Requests" class="col-md-2 control-label">Requests To Make</label>
            <div class="col-md-10">
                <input asp-for="Requests" class="form-control" />
                <span asp-validation-for="Requests" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label">Type</label>
            <div class="col-md-10">
                <div class="input-group">
                    <p><input name="Type" value="Capacity" type="radio" checked> Capacity</p>
                    <p><input name="Type" value="Distribution" type="radio"> Distribution</p>
                 </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    <script type="text/javascript">
    $('#service_update').click(function (e) {
        $.ajax({
            type: 'GET',
            url: '/Service/GetServiceDescription/?wsdl_url=' + wsdl_url.value,
            success: function (data) {
                $.each(data, function (index, value) {
                    $('#Url').append($('<option/>', {
                        value: value,
                        text: value
                    }));
                });
            },
            traditional: true
        });
        
    });
</script>
}