@model ServiceQuality.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" id="create-form">
    <div class="form-horizontal">
        <h4>Service</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label">WSDL URL</label>
            <div class="col-md-10">
                <p>Examples:</p>
                <ul>
                    <li>http://wsf.cdyne.com/WeatherWS/Weather.asmx?WSDL</li>
                    @*<li>http://webservicex.net/globalweather.asmx?wsdl</li>*@
                </ul>

                @*http://localhost:50145/Service/GetServiceDescription/?url=http://webservicex.net/globalweather.asmx?wsdl*@
         
                <input asp-for="Url" class="form-control" value="" />
                <span asp-validation-for="Url" class="text-danger" />
            </div>

            <div class="col-md-offset-2">
                <button class="btn btn-primary" type="button" id="service_update">Update List</button>
            </div>
        </div>
        <div class="form-group">
            <label for="methodName" class="col-md-2 control-label">Service Methods</label>
            <div class="col-md-10">
                <select id="methodName" name="methodName" class="form-control"></select>

                <div class="row">
                    <div class="col-md-5" id="valueParent" style="display:none">
                        <label for="methodValue" class="col-md-1 control-label" id="valueName">Value</label>
                        <input id="methodValue" name="methodValue" class="form-control" />
                        <input id="methodParam" name="methodParam" value="" style="display:none" />
                    </div>
                </div>
                @*<input id="Url" name="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger" />*@
            </div>
            
        </div>
        <div class="form-group">
            <label asp-for="Requests" class="col-md-2 control-label">Requests To Make</label>
            <div class="col-md-10">
                <input asp-for="Requests" class="form-control" />
                <span asp-validation-for="Requests" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label">Type</label>
            <div class="col-md-10">
                <div class="input-group">
                    <p><input name="Type" value="Capacity" type="radio" checked> Capacity</p>
                    <p><input name="Type" value="Distribution" type="radio"> Distribution</p>
                 </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    <script type="text/javascript">
        var wsdlUrl = $('#Url');
        var url = $('#Url');

        $('#service_update').click(function (e) {
            $.ajax({
                type: 'GET',
                url: '/Service/GetServiceDescription/?url=' + wsdlUrl.val(),
                success: function (data) {
                    $.each(data, function (index, obj) {
                        //console.log(index, obj);
                        $('#methodName').append($('<option/>', {
                            value: obj.Method,
                            text: obj.Method + (obj.Parameter ? ' - ' + obj.Parameter : ''),
                        }).data("param", obj.Parameter));
                    });

                    methodName.blur();
                },
                traditional: true
            });
        
        });

        var methodName = $('#methodName');
        methodName.on('change blur', function () {
            var val = methodName.find('option:selected').data("param");

            //console.log(val);
            $('#methodParam').val(val);
            $("#valueParent").toggle(!!val);
            $("#valueName").text(val || "Value");

        });

</script>
}